<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Profile Page</title>
	<style>
		body {
			font-family: Arial;
			margin: 0;
		}
		nav {
			background: #ff5353;
			padding: 20px 10px;
		}
		nav ul {
			max-width: 960px;
			margin: 0 auto;
			padding: 0;
		}
		nav li {
			list-style-type: none;
			display: inline-block;
			margin: 0 10px 0 0;
		}
		nav a {
			color: #fff;
			font-size: 18px;
			background: rgba(255,255,255,0.2);
			text-decoration: none;
			padding: 10px;
			display: block;
		}
		main,header {
			max-width: 960px;
			margin: 30px auto;
			padding: 0 10px;
			color: #333;
		}

		img {
			 float: left;
			 width: 50px;
			 height: 50px;
		}

		h1 {
			position: relative;
			top: 18px;
			left: 10px;
		}

	</style>
</head>
<body>
	
	<nav>
		<ul>
			<!-- ejs logic syntax. user object retrieved from app.js -->
			<% if (user) { %>
			<!-- if user exists display logout and profile page else, show login. homepage is there by at all times -->
			<li><a href="/auth/logout">Logout</a></li>
			<li><a href="/profile">Profile</a></li>
			<% } else { %>
			<li><a href="/auth/login">Login</a></li>
			<% } %>
			<li><a href="/">Homepage</a></li>
		</ul>
	</nav>
	<header>
		<!-- user object is sent from profile-routes.js-->
		<img src="<%= user.thumbnail %>" alt="user-thumbnail">
		<h1>Welcome, <%= user.username %>!</h1>
	</header>
	<main>
		<p>Hello!</p>
	</main>
</body>
</html>